<div class="container pt-3">
    <div class="container">
        <h2>Products</h2>
        <button type="button" class="btn btn-outline-primary" (click)="open(myModal)">
            <i class="fa fa-plus-square"></i> New Product
        </button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Series</th>
                    <th>Model</th>
                    <th>Capacity (Hrs)</th>
                    <th>ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of products">
                    <td>{{ emp.full_name }}</td>
                    <td>{{ emp.unit }}</td>
                    <td>{{ emp.capacity }}</td>
                    <td>{{ emp.id }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" ngbTooltip="Delete" (click)="onDeleteAction(emp.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" ngbTooltip="Edit"
                            (click)="onEditAction(emp); open(myModal)">
                            <i class="fa fa-id-card"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <ng-template #myModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Product Card</h4>
        </div>
        <div class="modal-body" style="display: flex;">

            <img [src]="activeProduct.emp_avatar" class="rounded me-1" alt="Cinque Terre">

            <form
            #userForm="ngForm"
            (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
          >
            <div class="form-group mb-3 ">
              <label>Series</label>
              <input
                type="text"
                name="name"
                class="form-control"
                [(ngModel)]="activeProduct.full_name"
                #name="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"
                minlength="4"
                required
              />
              <div class="invalid-feedback" *ngIf="userForm.submitted && name.errors?.['required']">
                <p *ngIf="name.errors?.['required']">Name is required</p>
              </div>
              <div class="invalid-feedback" *ngIf="name.errors?.['minlength']">
                <p *ngIf="name.errors?.['minlength']"> Name must be at least 4 characters long.</p>
            </div>
            </div>

            <div class="form-group mb-3">
                <label>Capacity</label>
                <input
                  type="number"
                  name="capacity"
                  class="form-control"
                  [(ngModel)]="activeProduct.capacity"
                  #capacity="ngModel"
                  [ngClass]="{ 'is-invalid': userForm.submitted && capacity.invalid }"
                  required
                />
                <div class="invalid-feedback" *ngIf="userForm.submitted && capacity.invalid">
                  <p *ngIf="capacity.invalid">Capacity is required</p>
                </div>
              </div>
        
            <div class="form-group mb-3">
              <label>Model</label>
              <select class="form-control" name="model"  #model="ngModel" [(ngModel)]="activeProduct.unit" required>
                <option value="" disabled>Select a model</option>
                <option *ngFor="let model of Models" [value]="model">
                  {{ model }}
                </option>
              </select>
              
            </div>
        
            <div class="form-group" style="width: 100%; display: flex; justify-content: space-around;">
              <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i> Save</button>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="modal.dismiss('Cross click')"><i class="fa fa-undo"></i> Close</button>
            </div>

          </form>
        </div>
    </ng-template>

</div>